/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* applies background color to the body element */
body {
    background-color: #d9dcd6;
}
/* header element selector, background color, font family, text color and padding */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* header element inline block with a font size of 48px */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* selecting all ".seo" classes within h1 element and changing the text color */
header h1 .seo {
    color: #d9dcd6;
}
/* adjustments for the nav header (font size, font family, where it sits, along with margin and padding */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* list items in header nav list style, currently set at none */
header nav ul {
    list-style-type: none;
}
/* list items in header nav list display type along with margin */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* hero class selector adjusting height, width, margin, images, how the background is set and covered */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* fload left class selector, apllying float left property */
.float-left {
    float: left;
    margin-right: 25px;
}
/* fload right class selector, apllying float left property */
.float-right {
    float: right;
    margin-left: 25px;
}

/* applies styling to main element adjusting the max width of the container, how those containers sit and andy margin */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
} 

/* applies styling to benefits element margin, padding, font family bg color and how the container sits on the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

/* *conslidated to above*
 .benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff; */

/* benefit h3 tag style  */
.benefit h3 {
    margin-bottom: 20px;
    text-align: center;
}
/* benefit class tag img styling */
.benefit img {
    margin-bottom: 10px;
    max-height: 200px;
    display: block;
    margin: auto;
}
/* redundent code covered in .benefit img class tag */
/* .benefit-lead img {
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* benefit cost header class adjusting bottom margin and text alignment */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* class tag that affects the container margins, padding, height, font family, bg color and text color */
.search-engine-optimization {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* class tag that affects the container margins, padding, height, font family, bg color and text color */
.online-reputation-management {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* class tag that affects the container margins, padding, height, font family, bg color and text color */
.social-media-marketing {
    
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* class tag that adjusts the max height of the image */
.search-engine-optimization img {
    max-height: 200px;
}
/* class tag that adjusts the max height of the image */

.online-reputation-management img {
    max-height: 200px;
}
/* class tag that adjusts the max height of the image */

.social-media-marketing img {
    max-height: 200px;
}
/* class tag that adjusts the bottom margin as well as font size for this class's h2 */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* class tag that adjusts the bottom margin as well as font size for this class's h2 */

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* class tag that adjusts the bottom margin as well as font size for this class's h2 */

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* class tag adjusting the footer's padding, font family and text alignment */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sets font size for header in the footer */
.footer h2 {
    font-size: 20px;
}
